body{
  margin:0;
}
#main{
  color:#000000;
/*   background-image:linear-gradient(#ffe6e6,#99ffdd); */
  background-color:#a5cdd1;
}
#title
{
 font-size:80px;
 text-align:center;
 text-transform:capitalize;
 font-weight:10;
 font-family:Helvetica;
 margin:0;
/*  background:linear-gradient(#ffb3b3,#ffe6e6); */
}
#img-div{
  text-align:center;
}
#image{
  border:3px black solid;
  border-radius:10px;
  max-width:100%;
  display:block;
  margin:auto;
  height:auto;
}
#img-caption{
  text-transform:capitalize;
  background-color:hsl(160,60%,50%);
  font-size:40px;
  margin: 10px 0px;
}
#tribute-info{
  text-align:justify;
  font-family:monospace;
  font-size:15px;
  padding : 5px 40px;
}
h3{
  text-align:center;
  text-transform:uppercase;
  font-size:25px;
}
#tribute-link,#tribute-link:hover{
  color:red;
  text-decoration:none;
}
#link1{
  text-align:center;
  text-transform:uppercase;
  font-family:sans-serif;
  background-color:#99bbff;
  padding:10px;
}
#para{
  text-align:center;
  text-transform:uppercase;
  font-family:sans-serif;
  padding:10px;
}
.list{
  width:75%;
  padding:40px;
  font-size:20px;
  margin:0 auto;
}